body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 50%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

li {
  width: 25%;
  height: 25%;
  border: 1px solid black;
  box-sizing: border-box;
  /* box sizing to account for the 1px border. it keeps the box 25% exactly */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#it {
  color: white;
  font-size: 55px;
  font-family: sans-serif;
}
